<ul>
    {% for link in links %}
        {% set ui_active = false %}
        {% if '/my_h5ai' ~ current_dir starts with link.full_path %}
            {% set ui_active = true %}
        {% endif %}
        <li class="tree-item {{ link.dirs is not empty ? 'collapsible' }} {{ ui_active ? 'active' }}">
            {% if link.dirs is not empty %}
                <i class="dropdown icon"></i>
            {% else %}
                <i class="icon"></i>
            {% endif %}
            <a href="{{ link.full_path }}">
                <i class="{{ ui_active ? 'orange folder open' : 'yellow folder' }} icon"></i>
                {% if '/my_h5ai' ~ current_dir == link.full_path %}
                    <strong>{{ link.name }}</strong>
                {% else %}
                    <span>{{ link.name }}</span>
                {% endif %}
            </a>
            {% if link.dirs is not empty %}
                {% include 'tree.html.twig' with { links: link.dirs } %}
            {% endif %}
        </li>
    {% endfor %}
</ul>